[Unit]
Description=Kujira voter bot
After=network-online.target

[Service]
User=kostage
WorkingDirectory=/home/kostage/cosmos_voter
ExecStart=/usr/local/go/bin/go run cmd/main.go
Restart=on-failure
RestartSec=30
LimitNOFILE=65535

[Install]
WantedBy=multi-user.target
