Proposal {{ .Id }}
{{ .Title }}
Description:
    {{ .Description }}
Voted Yes: {{ .VotedYes }} %
Voted No: {{ .VotedNo }} %
Veto: {{ .Veto }} %
Voted: {{ .Voted }} %
Voting ends in {{ .DeadlineHrs }} hours
